@charset "utf-8";

header{
    width: 100%;
    height: 70px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    border: 1px solid red;
    
}
/* ==================================================================header 왼쪽 로고==================================================================== */
.main-logo{
    /* border: 1px solid #fff; */
    width: 120px;
    height: 100%;
}
.main-logo>a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.main-logo>a>img{
    width: 40px;
    height: 40px;
}
.main-logo>a>span{
    padding-top: 15px;
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: 600;
}

/* ==================================================================header 오른쪽 메뉴==================================================================== */
nav{
    width: 600px;
    height: 100%;
}
nav>ul.main-menu{
    height: 100%;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav>ul.main-menu>li:first-child>a{
    color: aqua;
    font-weight: bold;
}
nav>ul.main-menu>li>a{
    /* border: 1px solid red; */
    padding: 8px 20px 5px;
}
nav>ul.main-menu>li>a:hover,
nav>ul.main-menu>li>a:focus{
    margin: -1px;
    border: 1px solid aqua;
    border-radius: 3px;
}

/* ==============================================================메인 섹션====================================================================================== */
#main-section{
    width: 100%;
    height: 1000px;
    padding: 40px 0 150px 0;
    background-color: var(--color-primary);
    /* center - x, y 좌표 center */
    /* cover - 배경 영역을 덮기 */
    background: url("/portfolio/images/main-visual.jpg")no-repeat center/cover; 
    background-attachment: fixed; /* background-attachment: fixed; 스크롤 내렸을때 이미지 고정 */
}
#main-section>div{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    
}
#main-section>div:nth-child(2){
    margin-top: 15%;
    margin-bottom: 2%;
    /* border: 1px solid red; */
}

/* ==========================================================dot 효과========================================================================== */
#main-section>div.dot{
    background-color: #fff;
    position: absolute; top: 40%; left: 62%; 
    width: 10px; height: 10px; background-color: #fff; 
    border-radius: 50%; transform: translate(-50%, -50%);
    
    animation: dot 2s linear infinite; /* infinite 무한반복 */
}

@keyframes dot { 
    0% { width: 10px; height: 10px; opacity: 0.3; } 
    50% { width: 50px; height: 50px; opacity: 0.2; } 
    100% { width: 100px; height: 100px; opacity: 0; } 
    }


#main-section>div>.avata-img-wrap{
    width: 220px;
    height: 220px;
    border: 5px solid aqua;
    border-radius: 250px;
    margin: 0 auto;
}
#main-section>div>.avata-img-wrap img{
    width: 100%;
    height: 100%;
}
#main-section>div>h2{
    font-size: 3em;
}
#main-section>div>h2>span{
    font-size: 1em;
    color: aqua;
}
#main-section>div>p{
    font-size: 1.3rem;
}

.contact-button button{
    cursor: pointer;
    margin-top: 40px;
    padding: 10px 15px;
    border: 1px solid aqua;
    border-radius: 3px;
    outline: none;
    background-color: aqua;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    transition: .3s;
}
.contact-button button:hover{
    color: #fff;
}
/* ======================================================================About me============================================================================================================ */

#about{
    margin: 0 auto;
    width: 60%;
    height: 700px;
    /* color: #000; */
    text-align: center;
    margin-bottom: 50px;
}
.title-style{
    text-align: center;
    color: #000;
    font-size: 2.5em;
    padding-top: 60px;
    margin-bottom: 15px;
}

#about>p{
    color: #000;
    font-size: 1.2em;
    line-height: 25px;
}

/* ==================about 카드 3장============================= */
ul.about-cards{
    border: 1px solid red;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 40px;
    
}

ul.about-cards>li{
    margin: 0;
    width: 32%;
    height: 250px;
    background-color: rgb(0, 0, 20);
    border-radius: 15px;
 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    transition: .3s;
    border: 1px solid red;
}
ul.about-cards>li>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}
.about-cards-img{
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}
ul.about-cards>li>div>h3{
    font-size: 1.6em;
}
ul.about-cards>li>div>p{
    color: #fff;
    font-size: 1em;
}
ul.about-cards>li:hover{
    cursor: pointer;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
}
/* =================================경력 아이콘 2개================================================================================= */
.about-career-icon-wrap{
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-career-icon{
    display: flex;
}
.about-career-icon>div:first-child{
    width: 70px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.about-career-icon>div:first-child img{
    width: 100%;
}
.about-career-icon>div:last-child{
    text-align: left;
}
.about-career-icon>div:last-child>p{
    font-size: 1em;
    color: #000;
}
.about-career-icon>div:last-child>span{
    font-size: 0.9em;
    color: #000;
}

.content-wrap{
    width: 60%;
    margin: 0 auto;
}

/* ============================================My Skills==================================================================== */
#myskills{
    background-color: #2f2d32;
    text-align: center;
    padding-bottom: 100px;
}
#myskills>h2{
    color: #fff;
}
#myskills>h3{
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: normal;
}
#myskills>p{
    width: 80%;
    margin-bottom: 40px;
}

#myskills>article{
    width: 80%;
    display: flex;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, .8);

}
/* 왼쪽 */
.coding-skills-wrap{
    width: 60%;
    padding: 40px;
    background-color: #0a005f;
}
.skill-title{
    display: flex;
    justify-content: space-between;
}
.skill-title span{
    display: block;
    margin: 0;
    padding-bottom: 10px;
}
ul.skill-box li{
    margin-top: 20px;
}
ul.skill-box li .skill-bar{
    height: 3px;
    background-color: rgb(66, 66, 66);
    line-height: 3px;
    /* border-bottom: 1px solid rgb(66, 66, 66); */
    position: relative;
}
ul.skill-box li:first-child .skill-bar>div{
    width: 80%;
    height: 3px;
    background-color:greenyellow;
}

ul.skill-box li:nth-child(2) .skill-bar>div{
    width: 90%;
    height: 3px;
    background-color:greenyellow;
}
ul.skill-box li:nth-child(3) .skill-bar>div{
    width: 70%;
    height: 3px;
    background-color:greenyellow;
}
ul.skill-box li:nth-child(4) .skill-bar>div{
    width: 88%;
    height: 3px;
    background-color:greenyellow;
}
ul.skill-box li:nth-child(5) .skill-bar>div{
    width: 98%;
    height: 3px;
    background-color:greenyellow;
}
ul.skill-box li:last-child .skill-bar>div{
    width: 50%;
    height: 3px;
    background-color:greenyellow;
}




/* 오른쪽 */
.tools-wrap{
    width: 40%;
    height: 100%;
}

.tools-wrap h3{
    margin-bottom: 10px;
}
.tools-wrap>ul{
    display: flex;
    flex-direction: column;
}
.Tools{
    box-sizing: border-box;
    padding: 40px;
    padding-bottom: 55px;
    width: 100%;
    height: 60%;
    background-color: #1a1a1a;
}

.Etc{
    box-sizing: border-box;

    padding: 40px;
    padding-bottom: 60px;

    width: 100%;
    height: 40%;
    background-color: #444444;
}
/* ===================================================================my work====================================================================== */
#mywork{
    box-sizing: border-box;
    background-color: var(--color-primary);
    text-align: center;
    padding-bottom: 40px;
}
#mywork h2{
    color: #fff;
}
#mywork h3{
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 10px;
}

.mywork-list-wrap{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 30px;

}
.mywork-list>a{
    display: block;
    padding: 10px 40px;
    border: 1px solid aqua;
    font-weight: 700;
    border-radius: 5px;
    transition: .3s;
    position: relative;

}
.mywork-list:first-child>a{
    background-color: aqua;
    color: #000;

}
.mywork-list:first-child>a>.category__count{
    top: 2px;
    opacity: 1;
}
.mywork-list>a:hover{
    background-color: aqua;
    color: #000;
}
.mywork-list>a>.category__count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgb(255, 140, 0);
    position: absolute; right: 13px; top: -20px;
    opacity: 0;
    transition: .5s;
}

.mywork-list>a:hover .category__count{
    top: 2px;
    opacity: 1;
}

.mywork-cards{
    box-sizing: border-box;
    width: 100%;
    margin-top: 40px;
    padding: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.mywork-cards li{
    width: 20%;
    margin: 0;padding: 0;
}
.mywork-cards a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
    position: relative;
    background-color: var(--color-primary);

    perspective: 300px;
    /* 원근감 */
}
.mywork-cards a img{
    width: 100%;
    height: 100%;
}
.project__metadata{
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    opacity: 0;
    
}
.mywork-cards a:hover{
    box-shadow: 0px 0px 35px rgba(25, 247, 255, 0.7);

}
.mywork-cards a:hover img{
    transform: rotateY(180deg);
    transition: .5s;
    opacity: .3;
}
.mywork-cards a:hover .project__metadata{
    opacity: 1
}
/* =====================================================testimonial=================================================================== */
#testimonial{
    text-align: center;
    padding-bottom: 80px;
}
#testimonial>p{
    /* border: 1px solid red; */
    color: #000;
    font-size: 1.5em;
}
.testimonial-comment-wrap{
    margin-top: 40px;
}
.testimonial-comment-wrap>li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 200px;
    margin-top: 5px;
}
.testimonial-comment-wrap>li:nth-child(2n){
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row-reverse;
}
.user-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    /* border: 1px solid red; */
}
.user-img img{
    width: 100%;
    height: 100%;
}
.usertext{
    width: 70%;
    /* height: 60%; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px

}
.usertext>p.user-comment{
    color: #000;
    font-size: 1.1rem;
}

.user-information span{
    color: #000;
    font-size: 1.3em;
}
.user-information span:first-child{
    color: aqua;
    filter: brightness(70%);

}
/* =========================================================Contact====================================================================== */

footer{
    text-align: center;
    background-color: var(--color-primary);
    padding-bottom: 40px;
}
.contact .title-style{
    color: #fff;
}
footer ul li{
    margin-top: 15px;
    font-size: 1.2em;
}
.contact-icons{
    padding: 15px;
    text-align: center;
}
.contact-icons i{
    font-size: 2em;
    margin: 0 10px;
    cursor: pointer;
}
.contact-icons i:hover{
    color: aqua;
}

/* =======================================================우측 하단 고정버튼================================================================================= */
.fixed-btn{
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #000;
    position: fixed;
    bottom: 50px;
    right: 100px;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

}
.fixed-btn i{
    font-size: 2em;
}
.fixed-btn:hover{
    box-shadow: 4px 4px 8px rgba(0, 242, 255, 0.7);

}
