ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    margin: auto;
}
.container-avatar{
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid red;
}
.container-avatar P{
    font-size: 1rem;
    font-weight: bold;
}
.container-avatar img{
    width: 120px;
}
.container-content{
    background-color: #d4d4d4;
    width: 400px;
    padding: 0 30px;
}
.container-button{
    background-color: #deffa8;
}